/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    direction: rtl;

    font-family:
    "IBM Plex Sans Arabic",
    "Cairo",
    sans-serif;

    background:#f7f7f7;

    color:#111;

    min-height:100vh;

    overflow:hidden;

}


/* ===========================
   BACKGROUND
=========================== */

.background{

    position:fixed;
    inset:0;

    overflow:hidden;

    z-index:-1;

}

.blur{

    width:700px;

    height:700px;

    background:#08305C;

    opacity:.05;

    filter:blur(180px);

}

.blur1{

    top:-180px;
    left:-160px;

}

.blur2{

    bottom:-220px;
    right:-160px;

}


/* ===========================
   LAYOUT
=========================== */

.wrapper{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px;

}


/* ===========================
   CARD
=========================== */

.card{

    width:min(1400px,95vw);

    min-height:820px;

    background:#fff;

    border-radius:38px;

    padding:70px 90px;

    display:flex;

    flex-direction:column;

    box-shadow:

        0 40px 120px rgba(0,0,0,.08),
        0 10px 30px rgba(0,0,0,.04);

}


/* ===========================
   LOGO
=========================== */

.logo{

    text-align:center;

    margin-bottom:55px;

}

.logo h1{

    font-size:72px;

    font-weight:900;

    letter-spacing:-3px;

}

.logo p{

    font-size:13px;

    color:#999;

    letter-spacing:6px;

    margin-top:12px;

}


/* ===========================
   PROGRESS
=========================== */

.progress{

margin-bottom:80px;

margin-top:-12px;

}

.progress-line{

    height:8px;

    border-radius:999px;

    background:#ececec;

}

.progress-fill{

width:20%;

height:100%;

background:#0A376C;

border-radius:999px;

transition:.45s ease;

}

/* ===========================
   STEP
=========================== */

.step{

    display:none;
    flex-direction:column;

    width:100%;

    max-width:1150px;

    min-height:720px;

    background:#fff;

    border:1px solid #E7EEF7;

    border-radius:32px;

    padding:55px 60px;

    box-shadow:0 20px 45px rgba(10,55,108,.06);

    margin:0 auto;

}
.step.active{

    display:block;

}


/* ===========================
   TYPOGRAPHY
=========================== */

.step h2{

    font-size:64px;

    font-weight:900;

    text-align:center;

    line-height:1.2;

    margin-bottom:20px;

}

.step p{

    font-size:22px;

    color:#6B7280;

    margin-bottom:38px;

    text-align:center;

}

/* ===========================
   INPUT
=========================== */
input{

width:100%;

height:76px;

border-radius:18px;

border:2px solid #DCE7F4;

background:#FAFCFE;

padding:0 28px;

font-size:20px;

transition:.35s;

margin-bottom:30px;

}

input:hover{

border-color:#A8C5E6;

}

input:focus{

outline:none;

border-color:#0A376C;

background:white;

box-shadow:

0 0 0 6px rgba(10,55,108,.08);

}

/* ===========================
   BUTTON
=========================== */
.hero-btn {

width:100%;

height:76px;

background:#0A376C;

color:white;

font-size:20px;

font-weight:700;

border:none;

border-radius:18px;

cursor:pointer;

transition:.35s;

}

.hero-btn:hover {

background:#072C55;

transform:translateY(-2px);

box-shadow:

0 20px 40px rgba(10,55,108,.18);

}


button{

    width:100%;

    height:72px;

    background:#0A376C;

    color:#fff;

    font-size:22px;

    font-weight:700;

    border:none;

    border-radius:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0D4B93;

    transform:translateY(-2px);

}

.prev{
    margin-top:16px;
        font-family: inherit;
        font-size:24px;
    font-weight:800;
    height:78px;
}

.next,
.submit{
    font-family: inherit;
    margin-top:12px;
        font-size:24px;
    font-weight:800;
    height:78px;
}

.arrow{
    display:inline-block;
    margin:0 10px;
}
/* ===========================
   ANIMATION
=========================== */

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:none;

}

}


/* ===========================
   MOBILE
=========================== */

@media(max-width:900px){

.card{

padding:35px;
min-height:auto;

}

.logo h1{

font-size:42px;

}

.step h2{

font-size:36px;

}


input{

height:60px;

}

button{

    height:72px;
    font-size:22px;

}

}


::selection{

    background:#0A376C;

    color:#fff;

}

input::placeholder{

    color:#b8b8b8;

}



/* =======================================
   STEP INDICATOR
======================================= */

.steps-nav{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:28px;

}

.step-item{

display:flex;

flex-direction:column;

align-items:center;

gap:14px;

position:relative;

flex:1;

}

.step-item span{

width:56px;

height:56px;

border-radius:50%;

background:#ececec;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

font-weight:700;

transition:.35s;

}

.step-item small{

font-size:15px;

color:#999;

font-weight:500;

}

.step-item.active span{

background:#0A376C;

color:white;

transform:scale(1.08);

}

.step-item.active small{

color:#111;

font-weight:700;

}

/* ================= HERO ================= */

.hero{

position:relative;

height:100vh;

background-image:


linear-gradient(
rgba(8,52,101,.25),
rgba(6,39,78,.30)
),

url("assets/hero.jpeg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}
.badge{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:16px 34px;

    font-size:16px;

    font-weight:800;

    border-radius:999px;

    background:rgba(255,255,255,.14);

    backdrop-filter:blur(10px);

    color:#fff;

    margin-top:15px;

    margin-bottom:34px;

}

.overlay{

position:absolute;

inset:0;

backdrop-filter:blur(2px);

}

.hero-content{

    position: relative;
    z-index: 5;

    width: 100%;
    max-width: 1600px;

    margin: 0 auto;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 0 60px;

    color: white;

}


.hero-logo{
        width: 400px;

    height: auto;

    display: block;

    margin: 0 auto 22px;
}

.hero h1{

    font-size:84px;

    line-height: 1.15;

    font-weight:900;

    max-width:900px;

    margin-bottom: 28px;

}

.hero p{

    font-size: 24px;

    font-weight: 400;


    max-width: 760px;

    color: rgba(255,255,255,.92);

    margin: 0 auto 50px;

    line-height: 2;

}

.hero-btn{
    padding:0 42px;
    display:inline-flex;
    margin-bottom: 36px;

    align-items:center;

    justify-content:center;

    min-width:240px;

    height: 68px;

    background:#fff !important;

    color: #0E4B8E !important;

    text-decoration:none;

    border-radius:999px;

    font-size:24px;

    font-weight:700;

    border:none;

    box-shadow:0 15px 40px rgba(14,75,142,.35);

    transition:.3s;

}

.hero-btn:hover{

    background:#0A3A72 !important;

    color: #fff !important;

    transform:translateY(-3px);

}


/* ===========================
   FORM HEADER
=========================== */

.form-header{

text-align:center;

margin-bottom:70px;

}

.step-counter{

display:inline-flex;

align-items:center;

gap:8px;

background:#EEF5FC;

padding:10px 22px;

border-radius:999px;

margin-bottom:28px;

font-weight:700;

color:#0A376C;

}

.step-counter span:first-child{

font-size:22px;

}

.slash{

opacity:.5;

}

.form-header h2{

font-size:52px;

font-weight:800;

margin-bottom:18px;

color:#0A376C;

}

.form-header p{

font-size:20px;

color:#6C7B90;

max-width:700px;

margin:auto;

}


.hero-card{

    width:min(1350px,88vw);

    min-height:640px;

    padding:50px 90px 55px;

    border-radius:42px;

    background:rgba(255,255,255,.10);

    border:1px solid rgba(255,255,255,.14);

    backdrop-filter:blur(26px);

    display:flex;

    flex-direction:column;

    align-items:center;

}
.hero-stats{

grid-template-columns:repeat(3,1fr);

gap:22px;

width:100%;

max-width:1050px;

margin-top:0px;
margin-bottom: 28px;
    display: flex;

    justify-content: center;

    gap: 18px;

}

.stat{

height:92px;

padding: 18px 28px;

border-radius:20px;

background:rgba(255,255,255,.12);

border:1px solid rgba(255,255,255,.18);

display:flex;

align-items:center;

justify-content:center;

font-size:19px;


font-weight:700;

color:#fff;

backdrop-filter:blur(18px);

transition:.3s;

min-height: 72px;

border-radius: 18px;

}

.stat:hover{

transform:translateY(-5px);

background:rgba(255,255,255,.18);

}

.hero-note{

    margin-top: 12px;

    max-width: 700px;

    line-height: 1.9;

    opacity: .85;

}



.step h3{

    font-size:52px;

    font-weight:800;

    color:#0d3f77;

    line-height:1.35;

    margin-bottom:40px;

    text-align:center;

}

.options-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:16px;

    margin-bottom:30px;

}

.option-card,
.option-card *{

    font-size:26px !important;
    font-weight:700 !important;

}

.option-card input{

    display:none;

}

.option-card span{

    display:flex;

    height:86px;

    align-items:center;

    justify-content:center;

    height:82px;

    background:#fff;

    border:2px solid #D7E3F0;

    border-radius:18px;

    font-size:22px;

    font-weight:700;

    transition:.3s;

}

.option-card input:checked + span{

    background:#0f4d8a;

    color:white;

    border-color:#0f4d8a;

    transform:translateY(-2px);

    box-shadow:0 15px 30px rgba(15,77,138,.18);

}

.input-group{

    margin-top:20px;

    margin-bottom:40px;

}

.input-group label{

    font-size:28px;

    font-weight:700;

    color:#0A376C;

    display:block;

    margin-bottom:14px;

}

.input-group input{

    height:70px;

    font-size:21px;

    border-radius:16px;

    padding:0 22px;

}

.input-group input:focus{

    border-color:#0f4d8a;

    box-shadow:0 0 0 5px rgba(15,77,138,.12);

}



.progress-wrapper{

    width:100%;

    margin-bottom:30px;

}
.progress-info{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:14px;

    font-size:18px;

    font-weight:700;

    color:#0A376C;

}

.progress-track{

    width:100%;

    height:12px;

    background:#E8EEF6;

    border-radius:999px;

    overflow:hidden;

}

.progress-bar{

    width:10%;

    height:100%;

    background:linear-gradient(90deg,#0A376C,#0F5BA8);

    border-radius:999px;

    transition:width .45s ease;

}


#form{

    width:100%;

    max-width:1150px;

    margin:0 auto;

}


textarea{

    width:100%;

    min-height:180px;

    padding:18px 20px;

    font-size:26px;

    font-family:inherit;

    border:2px solid #D9E6F5;

    border-radius:18px;

    resize:none;

    outline:none;

    transition:.3s;

    margin:20px 0 30px;

}

textarea:focus{

    border-color:#0A376C;

}


.thank-you-screen{

    position:fixed;
    inset:0;

    background:url("assets/abha-logistics.jpeg") center center/cover no-repeat;

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;

}

.overlay{

    position:absolute;
    inset:0;

    background:rgba(7,35,73,.60);

    backdrop-filter:blur(3px);

}

.thank-card{

    position:relative;

    width:min(700px,90%);

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:30px;

    padding:70px 50px;

    text-align:center;

    color:white;

}

.check{

    width:90px;
    height:90px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0 auto 24px;

    background:#fff;
    color:#0A376C;
    border-radius:50%;
}


.thank-card h1{

    font-size:54px;
    line-height:1.2;
    margin-bottom:10px;

}

.subtitle{

    font-size:28px;

    font-weight:700;

    margin-bottom:25px;

}

.description{

    font-size:20px;

    line-height:1.8;

    color:#eef5ff;

}
.thank-card button{
    font-family: inherit;
    width:fit-content;
    min-width:320px;
    height:68px;

    padding:0 38px;

    margin:30px auto 35px;   /* أهم سطر */

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    border:none;
    border-radius:999px;

    background:#0A376C;
    color:#fff;

    font-size:24px;
    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.thank-card button:hover{

    background:#0D4B93;
    transform:translateY(-2px);

}


.thank-card button .icon{
    font-size:22px;
    transition:.4s;
}

.thank-card button:hover .icon{
    transform:rotate(-180deg);
}

.footer-credit{

    margin-top:20px;

    font-size:20px;

    font-weight:500;

    color:rgba(255,255,255,.75);

    text-align:center;

    letter-spacing:.3px;

    line-height:1.6;
}